/* Button */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

body {
    background-color: #001228;
    /*background-image: url(back.png);*/
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 정렬 (가운데) */
    justify-content: center; /* 수평 정렬 (가운데) */
    height: 100vh; /* 화면 높이에 맞추어 정렬 */
}

/* Input */
input[type="text"],
input[type="number"] {
    padding: 8px;
    border-radius: 4px;
}

section {
    text-align: center;
}

/* Div */
div {
    text-align: center;
    margin-bottom: .8rem;
    padding: .8rem;
    border-radius: .3rem;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .2);
}

/* Span */
span {
    font-weight: bold
}

/* Paragraph */
p {
    font-size: 18px
}

.view {
    color: white;
    font-size: 45px;
}

.status {
    font-size: 110px;
    font-weight: bold;
}

.text-occupancy {
    vertical-align: top;
    background-color: white;
    padding: 7px;
    color: #001228;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    font-size: 70px;
    width: 200px;
    height: 100px;
    font-weight: bold;
}

.text-max {
    vertical-align: top;
    background-color: white;
    padding: 7px;
    color: #001228;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    font-size: 70px;
    width: 200px;
    height: 100px;
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 30px;
}

.flex-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    height: 10vh;
    padding-top: 50px;
}

.flex-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    height: 10vh;
    padding-top: 50px;
}

.flex-container h2 {
    margin-right: 35px;
}

.flex-container p {
    margin-right: 60px;
    font-size: 64px;
    color: white;
}

.time {
    width: 38px;
}